<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Student List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-4"></div>

        <div class="col-xs-4" align="center">

            <img th:if="${company.logo != null}"  th:src="@{${base_location+company.logo.url}}"
                 style="max-width: 100%; height: auto;" title="TODO" />
        </div>
        <div class="col-xs-4"></div>


    </div>
    <h1 style="text-align: center;">Employee List</h1>
    <h2 style="text-align: center;">
        <span th:text="${companyName}"></span>
    </h2>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>DEPARTMENT</td>
                    <td th:text="${departmentName}"></td>
                </tr>
                <tr>
                    <td>OFFICE CODE</td>
                    <td th:text="${officeCode}"></td>
                </tr>
                <tr>
                    <td>DATE</td>
                    <td th:text="${currentDate}"></td>
                </tr>
                <tr>
                    <td>TOTAL EMPLOYEES</td>
                    <td th:text="${totalEmployees}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4"></div>
    </div>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Sl. No.</th>
            <th>Name</th>
            <th>Voter ID No.</th>
            <th>Permanent Address</th>
            <th>Marital Status</th>
            <th>Date of Birth</th>
            <th>Date of Joining</th>
            <th>Designation</th>
            <th>Grade</th>
            <th>Department</th>
            <th>MR Code</th>
            <th>Mobile Number</th>
            <th>E-mail ID</th>
            <th>Blood Group</th>
            <th>Emergency Contact Name</th>
            <th>Emergency Contact Relation</th>
            <th>Emergency Contact Number</th>
        </tr>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.serial}"></td>
            <td th:text="${employee.user.basicInfo.firstName} + ' ' + ${employee.user.basicInfo.middleName} + ' ' + ${employee.user.basicInfo.lastName}"></td>
            <td th:text="${employee.user.basicInfo.nationalId}"></td>
            <td th:text="${employee.user.contactInfo.permanentAddress}"></td>
            <td th:text="${employee.user.basicInfo.maritalStatus}"></td>
            <td th:text="${employee.user.basicInfo.dob}"></td>
            <td th:text="${employee.user.basicInfo.joiningDate}"></td>
            <td th:text="${employee.user.professionalInfo.designation}"></td>
            <td th:text="${employee.user.grade.title}"></td>
            <td th:text="${employee.user.professionalInfo.department.name}"></td>
            <td th:text="${employee.user.mrCode}"></td>
            <td th:text="${employee.user.contactInfo.mobile}"></td>
            <td th:text="${employee.user.contactInfo.email}"></td>
            <td th:text="${employee.user.basicInfo.bloodGroup}"></td>
            <td th:text="${employee.user.emergencyContact.name}"></td>
            <td th:text="${employee.user.emergencyContact.relation}"></td>
            <td th:text="${employee.user.emergencyContact.mobile}"></td>
        </tr>
    </table>
    <!--<a th:href="@{/getStudentsListAsPdf}">Download Pdf</a>-->
</div>
</body>
</html>