<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Student List</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-xs-4"></div>

			<div class="col-xs-4" align="center">

				<img th:if="${company.logo != null}"  th:src="@{${base_location+company.logo.url}}"
					 style="max-width: 100%; height: auto;" title="TODO" />
			</div>
			<div class="col-xs-4"></div>


		</div>
		<h1 style="text-align: center;">Monthly Attendance Summary</h1>
		<h2 style="text-align: center;">
			<span th:text="${companyName}"></span>
		</h2>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>DEPARTMENT</td>
							<td th:text="${departmentName}"></td>
						</tr>
						<tr>
							<td>MONTH</td>
							<td th:text="${month}"></td>
						</tr>
						<tr>
							<td>YEAR</td>
							<td th:text="${year}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-4"></div>
		</div>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Total Working Days</th>
				<th>Total Weekends</th>
				<th>Total Holidays</th>
			</tr>
			<tr>
				<td th:text="${totalWorkingDays}"></td>
				<td th:text="${totalWeekends}"></td>
				<td th:text="${totalHolidays}"></td>
			</tr>
		</table>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>No. of Leaves</th>
				<th>Worked on Off Day</th>
				<th>Late</th>
				<th>Left Early</th>
				<th>Absent</th>
				<th>Present</th>
			</tr>
			<tr th:each="summary : ${monthlySummaryDTO}">
				<td th:text="${summary.user.name}"></td>
				<td th:text="${summary.leaveCount}"></td>
				<td th:text="${summary.offDayCount}"></td>
				<td th:text="${summary.lateCount}"></td>
				<td th:text="${summary.earlyLeaveCount}"></td>
				<td th:text="${summary.absentCount}"></td>
				<td th:text="${summary.workingDayCount}"></td>
			</tr>
		</table>
		<!--<a th:href="@{/getStudentsListAsPdf}">Download Pdf</a>-->
	</div>
</body>
</html>